<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}Italia.Amazonia.site{% endblock %}</title>
</br>
<!--[if lt IE 9]><b>ITALIANOI</b> NON E' OTTIMIZZATO PER QUESTA VERSIONE DI INTERNET EXPLORER 
<a href="http://www.microsoft.com/windows/internet-explorer/default.aspx">AGGIORNA IL BROWSER</a>
<link rel="stylesheet" type="text/css" href="obsoleto.css">
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
{% block stylesheets %}
<link href="{{ asset('css/style.css') }}" type="text/css"  rel="stylesheet" />
<link href="{{ asset('css/screen.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" /> 
{% block javascripts %}
<script src="{{ asset('js/jquery.core.js') }}" type="text/javascript"></script> 
<script src="{{ asset('js/jquery.superfish.js') }}" type="text/javascript"></script> 
<script src="{{ asset('js/jquery.jcarousel.pack.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/jquery.easing.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/jquery.scripts.js') }}" type="text/javascript"></script>
{% endblock %} 
</head>
<body>
<div id="obsoleto">
<b>ATTENZIONE!</b> La tua versione di Microsoft Internet Explorer
è obsoleta e potrebbe compromettere la tua corretta navigazione.
<a href="http://www.microsoft.com/windows/internet-explorer/default.aspx">Aggiornala adesso!</a>
</div>
    <div id="wrap">
    <div class="top_corner"></div>
    <div id="main_container">
    
        <div id="header">
            <div id="logo"><a href="/itam2/web/app_dev.php">
			<img src="{{ asset('bundles/AitamIndex/images/logoitam.JPG') }}" alt="Italia Amazonia" width="338" height="72" border="0" title="italia amazzonia" /></a></div>
            
        {% block navigation %}
			<div id="menu">
                <ul>                                                                                            
                    <li><a href="{{ path('AitamIndexBundle_homepage') }}">Home</a></li>
                    <li><a href="{{ path('AitamIndexBundle_statuto') }}">It.Oi.site</a></li>
                    <li><a href="{{ path('AitamIndexBundle_listaiscritti') }}">I nostri iscritti</a></li>
                    <li><a href="{{ path('AitamIndexBundle_caffe') }}">Il caff&egrave</a></li>
                    <li><a href="{{ path('AitamIndexBundle_contact') }}">Contact</a></li>
                    <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                    <li>            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                   
                    {% if  app.user.username | slice (0,5) == '_face' or app.user.username | slice (0,5) == '_goog' %}
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username | title | slice(21,12)}, 'FOSUserBundle') }}
                    {% else %} 
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username | title | slice(0,12)}, 'FOSUserBundle') }}
                    {% endif %}
                <a href="{{ path('fos_user_security_logout') }}"></li>
                  <li>  {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
                <a href="{{ path ('sonata_user_profile_show') }} ">profilo</a>
                </li>
            {% endif %}
                </ul>
            </div>
        {% endblock %}   
        
        </div>
{% block body %}

{% endblock %}

{% block footer %}   
        <div class="footer">
        	<div class="copyright"><a href="http://csstemplatesmarket.com/"
        	 target="_blank">&copy;</a> <a href="http://enricoblog.eu5.org/" 
        	 target="_blank">by WebOnAir</a></div>
        
        	<div class="footer_links">
                <a class="current"  href="{{ path('AitamIndexBundle_homepage') }}">Home</a>
                <a href="{{ path('AitamIndexBundle_statuto') }}">It.Oi.site</a>
                <a href="{{ path('AitamIndexBundle_listaiscritti') }}">I nostri iscritti</a>
                <a href="{{ path('AitamIndexBundle_about') }}">About</a>
                <a href="{{ path('AitamIndexBundle_contact') }}">Contact</a>            
            </div>
        </div>
{% endblock %} 
      
    
    </div>
</div>
</body>
</html>
