{% extends 'AitamIndexBundle::layout.html.twig' %}
{% block title %}Racconto{% endblock%}


{% block body %}

<div class="center_content_pages">
        
        <h2>Racconto</h2>
        <div class="left_content">            
            <div class="block_wide">
       
        <section class="comments" id="comments">
        <section class="previous-comments"> 
        
    {#    {{ app.user }}  #}
     
 {% if racconti.isactive == false %} 
 
 <h3> questo &egrave il  tuo  articolo ma ancora non &egrave stato pubblicato </br>
      verr&agrave controllato a breve
      </h3>  
 
 {% else %}
 
  {#}ok articolo pubblicato #}
 
 {% endif %}
            
<h3> {{ racconti.tipo | upper }} : {{ racconti.titolo }} </h3>
                    <header>
                        <h2>{{ racconti.descrizionebreve }}.....</h2>
                    </header>
    
                <article class="dinuovo2">
                    <img src="{{ asset(['bundles/RaccontiBundle/immagini/', racconti.images1]|join) }}" /></article>
                <article class="dinuovo2">
                    <img src="{{ asset(['bundles/RaccontiBundle/immagini/', racconti.images2]|join) }}" /></article>
                <article class="dinuovo2">
                    <img src="{{ asset(['bundles/RaccontiBundle/immagini/', racconti.images3]|join) }}" /></article>
                <article class="dinuovo2">
                    <img src="{{ asset(['bundles/RaccontiBundle/immagini/', racconti.images4]|join) }}" /></article>
                <article class="dinuovo2">
                    <img src="{{ asset(['bundles/RaccontiBundle/immagini/', racconti.images5]|join) }}" /></article>


                               <footer class="meta">
                        <p>DESCRIZIONE <span class="highlight">{{ racconti.descrizione }}</span> </p>
                        <p>Scritto da <span class="highlight">{{ racconti.autore }}</span> </p>
                    </footer>

<ul class="record_actions">
    <li>
        <a href="{{ path('AitamIndexBundle_testimonial') }}">
            <h3>Inserisci un altro racconto</h3>
        </a>
    </li>
</ul>

                <a href="{{ path('racconti') }}">
            <h3>Ultimi racconti</h3>
        </a>

    </div>   
                <div class="video ">     
                        <h2>I tuoi video </h2>                        
                        
                        {% if racconti.embedvideo1 | length == 11 %}
                        <iframe width="420" height="315" src="http://www.youtube.com/embed/{{racconti.embedvideo1}}"  frameborder="0" allowfullscreen></iframe>
                        
                        {% elseif racconti.embedvideo1 | length == 8 %}
                        <iframe width="420" height="315" src="http://player.vimeo.com/video/{{racconti.embedvideo1}}?byline=0&amp;portrait=0"></iframe>
                        {% else %}
                        <img src="{{ asset('bundles/raccontibundle/immagini/novideo.jpg') }}">
                        {% endif %}
                
                        {% if racconti.embedvideo2 | length == 11 %}
                        <iframe width="420" height="315" src="http://www.youtube.com/embed/{{racconti.embedvideo2}}" frameborder="0" allowfullscreen>></iframe>
                        
                        {% elseif racconti.embedvideo2 | length == 8 %}
                        <iframe width="420" height="315" src="http://player.vimeo.com/video/{{racconti.embedvideo2}}?byline=0&amp;portrait=0"></iframe>
                        {% else %}
                        <img src="{{ asset('bundles/raccontibundle/immagini/novideo.jpg') }}">
                        {% endif %}
                </div>
        </div>
</div>
        
        </section>
        </section>
        
        
            <div class="right_block">
            	            <div class="right_block">
               {% block sidebar %}
                   {{ parent() }}
               {% endblock %}     
            </div>

                
                
            </div>
            
            
			<div class="wide_content">
            	<h2>Terms &amp; Conditions</h2>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
</p>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
</p>            
            </div> 
            
   
        
        <div class="clear"></div>
       
        {% endblock %}