{% extends 'AitamDavisitareBundle::layout.html.twig' %}
{% block title %}Da visitare{% endblock %}
{% block body %}

<div class="center_content_pages">
        
        
        <div class="left_content">            
                        	<h2>Da visitare</h2>

     <article class="block_wide">
    {% for davisitare in davisitare %}
        <article class="dinuovo">
            <div class="date"><time datetime="{{ davisitare.created|date('c') }}">{{ davisitare.created|localizeddate() }}</time></div>
            <header>
                <h2><a href="{{ path('AitamDavisitareBundle_davisitare_show', { 'id': davisitare.id,'slug': davisitare.slug }) }}">{{ davisitare.title }}</a></h2>
            </header>

            <img src="{{ asset(['bundles/AitamDavisitare/images/', davisitare.image]|join) }}" />
            <div class="snippet">
                <p>{{ davisitare.articolo(250) }}.....</p>
                <p class="continue"><a href="{{ path('AitamDavisitareBundle_davisitare_show', { 'id': davisitare.id,'slug': davisitare.slug  }) }}">Continua a leggere...</a></p>
            </div>

            <footer class="meta">
    <p>Commenti: <a href="{{ path('AitamDavisitareBundle_davisitare_show', { 'id': davisitare.id,'slug': davisitare.slug  }) }}#comments">{{ davisitare.commentidavisitare|length }}</a></p>
    <p>Scritto da <span class="highlight">{{ davisitare.author }}</span> il {{ davisitare.created|date('h:iA') }}</p>
            </footer>
        </article>
    {% else %}
        <p>non ci sono nuove entrate</p>
    {% endfor %}
    </article>
            </div>
        </div>
            <div class="right_block">
               {% block sidebar %}
                   {{ parent() }}
               {% endblock %}    
            </div></br>
                    <div class="paginator">
        {% if paginator.currentpage != 1 %}
                <a class="previous" href="{{path('AitamDavisitareBundle_home_davisitare',{'page' :  paginator.currentpage-1}  ) }}"style="color:black">Indietro</a>
        {% endif %}
        {% for i in 1..paginator.numpages%}
            {% if paginator.range.0 > 2 and i == paginator.range.0 %}
                ...
            {% endif %}

            {%  if(i==1 or i==paginator.numpages or i in paginator.range) %}
                {% if i==paginator.currentpage %}
                <a class="active" href="{{ path('AitamDavisitareBundle_home_davisitare', {'page' : i } ) }}" style="color:red">page{{i}}|</a>
                {% else %}
                <a href="{{ path('AitamDavisitareBundle_home_davisitare', {'page' : i } ) }}">page{{i}}|</a> 
                {% endif %}
            {% endif %}

            {% if paginator.range[paginator.midrange -1] < paginator.numpages -1 and i == paginator.range[paginator.midrange-1] %}
                ...
            {% endif %}
        {% endfor %}
        {% if paginator.currentpage < paginator.numpages %}
                <a class="next" href="{{ path('AitamDavisitareBundle_home_davisitare',  {'page' : paginator.currentpage+1 } ) }}"style="color:black">Avanti</a>
        {% endif %}

            </div>
            
            
			<div class="wide_content">
            	<h2>Terms &amp; Conditions</h2>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
</p>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
</p>            
            </div> 
            
   
        
        <div class="clear"></div>
        </div>
{% endblock %}